.board-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style:solid;
}
.board-container{
  margin: 20px;
  padding: 20px 500px;
  
}
body{
background-color: rgb(0, 255, 153);
}
.btn{
  color: red;
  background-color: deepskyblue;
  border-radius: 3px;
  height: 30px;
  width: 100px;
  margin-top: 10px;

}